
.img-fluid {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    height: 200px;
}

.row{
    display:flex;
    justify-content: space-evenly;
}

.card-body {
    padding: 10%;
}

.col-md-4{
    display:flex;
    align-items: center;
}

.btn.btn-primary{

    margin: 3px
}

div.col-md-8 {
    width: 200px
}

button{
    margin: 2px;
}

p.card-text{
    margin-bottom: 5px;
}

a.nav-link.detail {
    font-size: 15px;
}