.row>* {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    width: 24%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.row{
    display: flex;
    justify-content: space-evenly
}