

div.containerImg {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 12rem;;
    height: 12rem;
}

.card-img-top {
    
    width: 100%;
    height: 100%;
}

div.card.cardProducto {
    display: flex;
    align-items: center;
    box-shadow: 10px;
}

