.detalleProducto {
    max-width: 540px;
}


.App {
    background-color: aqua;
}

.cardProducto {
    width: 18rem;
    margin: 15px 4px 4px;
}

.itemDetail {
    max-width: 540px;
    margin-top: 20px;
}


.darkMode{
    background-color: black;
    color: antiquewhite;


}